<div class="container mx-auto p-4">
  <h1 class="title">Tweet</h1>
    <div class="box relative">

      <%= render "tweets/partials/shared/user_data", tweet: @tweet %>

      <%= turbo_frame_tag @tweet do %>
        <p class="my-5 text-xl"><%= @tweet.body%></p>

        <div class="text-timestamp top-3 right-2">
          <% if user_signed_in? && @tweet.user == current_user %>
            <%= link_to "Edit", edit_tweet_path(@tweet), class: "edit-link" %>
            <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "delete-link" %>
          <% end %>
        </div>
      <% end %>

      <%= render "tweets/partials/shared/reaction" %>

      <%= link_to "Back", tweets_path, class: "link" %> 
    </div>
</div>
